body{
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #FFF8F3;

}
.menu{
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: large;
  font-weight: 700;
  align-items: center;

}
.btn-primary{
  padding: 15px 25px;
  background-color: #FD6E0A;
  font-size: large;
  font-weight: 900;
  border: 0px;
  border-radius: 5px;
  color: white;
}
.navbar a {
  text-decoration: none;

}
.navbar a:hover{
  color: red;
}
.site-title{
  font-size: 45px;
}
.letter-r{
  color: #FD6E0A;
}